.d-flex {
    display: flex;

}

.f-column {
    flex-direction: column;

}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.aling-items-center {
    align-items: center;
}

fl