* {
    box-sizing: border-box;
}

.root {
    width: 800px;
    height: 800px;
    background-color: red;
    row-gap: 10px;
}

.pink-square {
    background-color: deeppink;
    height: 200px;
    width: 200px;
}
.green-square {
    background-color: chartreuse;
    width: 50px;
    height: 50px;
}
.p-10 {
    padding: 10px;
}

.b-1-s {
    border: 1px solid;
}
.blue_square {
    background-color: blue;
    width: 100px;
    height: 100px;
}