.task-3 header, .task-3 .header2 {
    background-color: blue;
    min-height: 50px;
    margin: 10px 0;
    width: 100%;
    justify-self: flex-start;
}

.purple_square {
    background-color: purple;
    flex-grow: 1;
    max-height: 630px;
    max-width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.content-list {
    background-color: chartreuse;
    width: calc(400px - 40px);
    margin: 0 20px;
    flex-shrink: 0;
    overflow: auto;
    align-self: flex-start;
    min-height: 150px;
}


.list-content {
    background-color: saddlebrown;
    width: 100%;
    height: calc(588px - 10px);
    margin-bottom: 10px;
    flex-shrink: 0;
    overflow-y: auto;
}