.m-100 {
    margin: 100px 0;
}
header, footer {
    min-height: 50px;
    background-color: saddlebrown;
}
header {
   column-gap: 10px;
    overflow-x: auto;
}

.vert-block{
    padding: 10px;
    width: 100px;
    background-color: yellow;
    flex-shrink: 0;
}
main {
    flex-grow: 1;
    max-height: calc(100% - 100px - 20px);
}

.left-menu {
    background-color: saddlebrown;
    flex: 0 0 250px;
    margin-right: 10px 0;
    overflow-y: auto;
}

.content {
    background-color: blue;
    flex-grow: 1;
}

.menu-item {
    min-height: 150px;
    background-color: yellow;
    margin-bottom: 10px;
}